:root {
  // Typography
  --text-md: 17px;
  --text-sm: 13px;
  --text-xs: 10px;

  // Colors
  --black: #000000;
  --white: #FFFFFF;
  --green: #72BF44;
  --red: #FF3B30;
  --blue: #007AFF;
  --gray-200: #E5E7EB;
  --gray-400: #9CA3AF;
  --gray-500: #6B7280;
  --gray-800: #1F2937;
  --gray-900: rgba(0, 0, 0, 0.30);
}